# Secara default, aplikasi ini menggunakan PostgreSQL sebagai database. Anda dapat mengubahnya sesuai kebutuhan, tetapi pastikan untuk menyesuaikan `DATABASE_URL` di bawah ini.
# DATABASE_URL=postgresql://fromfram:fromfram@localhost:5433/fromfram
DATABASE_URL={isi dengan URL database PostgreSQL Anda}

JWT_SECRET={isi dengan 32 sampai 256 karakter acak}

