# Secara default, aplikasi ini menggunakan PostgreSQL sebagai database. Anda dapat mengubahnya sesuai kebutuhan, tetapi pastikan untuk menyesuaikan `DATABASE_URL` di bawah ini.
# DATABASE_URL=postgresql://fromfram:fromfram@localhost:5433/fromfram
DATABASE_URL={isi dengan URL database PostgreSQL Anda}

JWT_SECRET={isi dengan 32 sampai 256 karakter acak}

MIDTRANS_SERVER_KEY="SB-Mid-server-kunci-anda"
MIDTRANS_CLIENT_KEY="SB-Mid-client-kunci-anda"
MIDTRANS_IS_PRODUCTION="false"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-kunci-anda"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_ENABLED_PAYMENTS="qris,bank_transfer"

# Forecasting Service
FORECAST_SERVICE_URL=http://localhost:8001